[submodule "Atea.tmbundle"]
	path = Atea.tmbundle
	url = https://github.com/jpettersson/Atea.tmbundle
[submodule "hitea"]
	path = hitea
	url = https://github.com/Beakr/hitea
[submodule "atea.vim"]
	path = atea.vim
	url = https://github.com/pkamenarsky/atea.vim
